# Store the real variables in /backend/.env

GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"
SESSION_SECRET_KEY="YOUR_SESSION_SECRET_KEY" # import os; print(os.urandom(24).hex())