# GEMINI_API_KEY=
GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"
# Generate a secret key using: import os; print(os.urandom(24).hex())
SESSION_SECRET_KEY="YOUR_SESSION_SECRET_KEY"